/* vars */
:root {
  --grid-gap: 32px; /* grid-gap */
  --fir-color: #6f00ff; /* Color principal */
  --sec-color: #5000b8; /* Color Secundario */
  --font-fir-color: #333; /* Color fuente principal */
}

/* Custom Bootstrap */

* {
  outline: none;
}

body {
  padding-top: 74px;
  background: #fafafa;
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  color: var(--font-fir-color);
}

.breadcrumb {
  background: transparent;
}

.breadcrumb a {
  color: #000;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "\279D";
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 4%;
  padding-left: 4%;
  margin-right: auto;
  margin-left: auto;
}

/* Structure */

.container-white {
  padding-top: var(--grid-gap);
  background: #fff;
}

/* Header */
.header_area {
  position: fixed;
  background: #fff;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.header_area i {
  font-size: 1.6rem;
}

.header_area a {
  color: #000;
  text-decoration: none;
}

.header_area a:hover {
  color: #999;
}

/* Menu */

.subCateory {
  display: none;
}

.hasSubCateory:hover .subCateory {
  display: flex;
  position: absolute;
  flex-direction: column;
  background: white;
  line-height: 50px;
  text-indent: 20px;
  border: 1px solid #ccc;
}

/* SearchTop */
.form-search {
  background: transparent;
  color: #888;
  width: 100%;
  line-height: 40px;
  border: 0;
}

/* Titles */

h2.section-heading {
  font-size: 30px;
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: 600;
}

/* Brands */

.brand-list {
  height: 200px;
}

/* wrap-thumbs-products */
.wrap-thumbs-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: var(--grid-gap);
}

/* thumb producto */
.single-product-wrapper {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: #ffffff;
}

.single-product-wrapper:hover {
  box-shadow: 0px 0px 34px -9px rgba(0, 0, 0, 0.25);
}

.single-product-wrapper .product-img {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-product-wrapper .product-img img {
  width: 100%;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
.single-product-wrapper .product-img .hover-img {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}
.single-product-wrapper .product-img .product-badge {
  height: 25px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 12px;
  padding: 0 10px;
  display: inline-block;
  line-height: 25px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}
.single-product-wrapper .product-img .product-badge.offer-badge {
  background-color: #dc0345;
}
.single-product-wrapper .product-img .product-badge.new-badge {
  background-color: var(--fir-color);
}
.single-product-wrapper .product-img .product-favourite a {
  position: absolute;
  height: 25px;
  width: 45px;
  font-size: 14px;
  color: #ccc;
  top: 20px;
  right: 20px;
  z-index: 10;
  line-height: 25px;
  background-color: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  text-align: center;
  opacity: 0;
  visibility: hidden;
}
.single-product-wrapper .product-img .product-favourite a.active {
  opacity: 1;
  visibility: visible;
}
.single-product-wrapper .product-description {
  position: relative;
  z-index: 1;
  padding-top: 25px;
}
.single-product-wrapper .product-description span {
  font-size: 10px;
  text-transform: uppercase;
  color: #787878;
  margin-bottom: 15px;
  letter-spacing: 0.75px;
  font-weight: 600;
}
.single-product-wrapper .product-description h6 {
  color: #222222;
  margin-bottom: 5px;
  text-decoration: none;
}

.single-product-wrapper .product-description h6:hover {
  text-decoration: none;
  opacity: 0.8;
}

.single-product-wrapper .product-description p {
  margin-bottom: 0;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #000000;
}
.single-product-wrapper .product-description p span {
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #aaaaaa;
  margin-right: 10px;
  text-decoration: line-through;
}
.single-product-wrapper .product-description .hover-content {
  position: absolute;
  width: 100%;
  top: -70px;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
.single-product-wrapper .product-description .hover-content .essence-btn {
  width: 100%;
}
.single-product-wrapper .favme {
  cursor: pointer;
  color: #ccc;
}
.single-product-wrapper .favme.active {
  color: #dc0345 !important;
}
.single-product-wrapper .favme.is_animating {
  animation: favme-anime 0.5s;
}
.single-product-wrapper:hover .product-img .hover-img {
  opacity: 1;
  visibility: visible;
}
.single-product-wrapper:hover .product-img .product-favourite a {
  opacity: 1;
  visibility: visible;
}
.single-product-wrapper:hover .hover-content {
  opacity: 1;
  visibility: visible;
}

/* pagination */

.pagination {
  position: relative;
  z-index: 1;
}
.pagination .page-item .page-link {
  width: 40px;
  height: 40px;
  border: 1px solid #ebebeb;
  font-size: 12px;
  font-weight: 600;
  line-height: 38px;
  padding: 0;
  text-align: center;
  color: #787878;
}
.pagination .page-item .page-link:hover,
.pagination .page-item .page-link:focus {
  color: var(--fir-color);
  box-shadow: none;
}
.pagination .page-item:first-child {
  margin-right: 15px;
}
.pagination .page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination .page-item:last-child {
  margin-left: 15px;
}
.pagination .page-item:last-child .page-link {
  margin-left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* Categories Home */

.categories-home-grid {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: var(--grid-gap);
  height: 150vh;
}

.categories-home-grid > div {
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.48);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px 0 0 20px;
  border: 1px solid #ccc;
}

.categories-home-grid .div1 {
  color: #fff;
  grid-area: 1 / 1 / 3 / 5;
}

.categories-home-grid .div2 {
  color: #fff;
  grid-area: 3 / 1 / 5 / 3;
}

.categories-home-grid .div3 {
  color: #fff;
  grid-area: 4 / 3 / 5 / 4;
}

.categories-home-grid .div4 {
  color: #fff;
  grid-area: 4 / 4 / 5 / 5;
}

.categories-home-grid .div5 {
  color: #fff;
  grid-area: 3 / 3 / 4 / 5;
}

/* Brands Area  */
.brands-area {
  position: relative;
  z-index: 1;
  background-color: #f5f7f9;
  padding: 100px 5%;
}
@media only screen and (max-width: 767px) {
  .brands-area {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 100px 5% 70px;
  }
}
@media only screen and (max-width: 767px) {
  .brands-area .single-brands-logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    width: 33.33333%;
    max-width: 33.33333%;
  }
}
.brands-area .single-brands-logo img {
  max-width: 120px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .brands-area .single-brands-logo img {
    max-width: 90px;
  }
}
@media only screen and (max-width: 767px) {
  .brands-area .single-brands-logo img {
    max-width: 80px;
    margin-bottom: 30px;
  }
}

/* Essence Button */
.essence-btn {
  display: inline-block;
  min-width: 170px;
  color: #ffffff;
  border: none;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 50px;
  background-color: var(--fir-color);
  letter-spacing: 1.5px;
  font-weight: 600;
}
.essence-btn:hover,
.essence-btn:focus {
  color: #ffffff;
  background-color: var(--sec-color);
}

/* Product page */

.custom-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  padding-bottom: var(--grid-gap);
}

.custom-gallery .div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.custom-gallery .div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.custom-gallery .div3 {
  grid-area: 3 / 1 / 4 / 2;
  grid-area: 3 / 1 / 4 / 2;
  background: rgb(104, 104, 104);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.custom-gallery a.div3 {
  color: #fff;
}

.custom-gallery a.div3:hover {
  text-decoration: none;
}

.custom-gallery .div4 {
  grid-area: 1 / 2 / 4 / 5;
}

.final-price {
  font-size: 38px;
  font-weight: 600;
  color: #222;
  line-height: 80px;
}

.ribbon-discount {
  position: relative;
  background: #b5146f;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  border-radius: 5px;
  margin-left: 20px !important;
  text-align: right;
  padding-right: 6px;
  top: -8px;
}

.ribbon-discount::after {
  content: "";
  position: absolute;
  left: -12px;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 15px solid #b5146f;
  border-top: 10px solid transparent;
  border-bottom: 15px solid transparent;
}

.old-price {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  text-decoration: line-through;
  line-height: 50px;
}

/* long description  */
/* detalles */
.pp-detalles {
  text-align: center;
  border-top: 1px solid #eee;
}

.pp-detalles .detail-content {
  padding: 5% 5% 8%;
}

.pp-detalles h4 {
  text-align: center;
  font-size: 2em;
}

.pp-detalles h5 {
  text-align: left;
  font-size: 2em;
  text-indent: 16px;
}

.pp-detalles table {
  margin-bottom: 0;
}

.pp-detalles td {
  padding: 8px 0 !important;
  text-align: left;
  text-indent: 16px;
  white-space: unset;
}

.pp-detalles img {
  width: 100%;
}

/* tags */

.tags {
  display: flex;
  justify-content: right;
  align-items: center;
}

.tags a {
  color: #fff;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  display: block;
  padding: 3px 9px;
  float: left;
  margin-left: 16px;
  font-size: 12px;
  font-weight: bold;
}

.tags a:hover {
  text-decoration: none;
}

/* Footer */

.footer_area {
  margin-top: var(--grid-gap);
  position: relative;
  z-index: 1;
  background-color: #252525;
  padding: 70px 0 60px;
}
.footer_area .single_widget_area .footer_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_area .single_widget_area .footer_menu ul li a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  padding: 0 10px;
  text-transform: capitalize;
}
.footer_area .single_widget_area .footer_menu ul li a:hover,
.footer_area .single_widget_area .footer_menu ul li a:focus {
  color: #ffffff;
}
.footer_area .single_widget_area .footer_widget_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer_area .single_widget_area .footer_widget_menu li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  width: 50%;
}
.footer_area .single_widget_area .footer_widget_menu li a {
  display: block;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer_area .single_widget_area .footer_widget_menu li a:hover,
.footer_area .single_widget_area .footer_widget_menu li a:focus {
  color: #ffffff;
}
.footer_area .single_widget_area .footer_heading h6 {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.footer_area .single_widget_area .subscribtion_form form {
  position: relative;
  z-index: 1;
  width: 270px;
}
@media only screen and (max-width: 767px) {
  .footer_area .single_widget_area .subscribtion_form form {
    margin-bottom: 50px;
  }
}
.footer_area .single_widget_area .subscribtion_form form input {
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  height: 35px;
  background-color: transparent;
}
.footer_area .single_widget_area .subscribtion_form form input:focus {
  border-bottom-color: #ffffff;
  color: #ffffff;
}
.footer_area .single_widget_area .subscribtion_form form button {
  width: 30px;
  height: 35px;
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.footer_area .single_widget_area .footer_social_area a {
  color: #ffffff;
  display: inline-block;
  padding: 0 10px;
  font-size: 16px;
}
